@import './setting';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--dark-text);
  color: var(--dark-text);
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  justify-content: center;
  padding: 1rem * 2;
}

.App {
  width: 100%;
  max-width: 960px;
  background-color: white;
  padding: 1rem* 2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
}

h1, h2, h3 {
  color: var(--dark-text);
  text-align: center;
  margin-bottom: 1rem * 2
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3 ease;

  &:hover {
    background-color: darken($primary-color, 10%)
  }

  &.delete-button {
    background-color: var(--danger-color);
    &:hover {
      background-color: darken($danger-color, 10%);
    }
  }

  &.edit-button {
    background-color: var(--secondary-color);
    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }

  &.complete-button {
    background-color: var(--success-color);
    &:hover {
      background-color: darken($success-color, 10%);
    }
  }

}



