.task-item {
  border: 1px solid #ddd;
  padding: var(--spacing-unit);
  border-radius: var(--border-radius);
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: var(--primary-color)
  }

  p {
    font-size: 0,9rem;
    color: #555;
    margin-bottom: 0.8rem;
  }

  small {
    display: block;
    font-size: 0.75rem;
    color: #888;
    margin-bottom: var(--spacing-unit);
  }

  .task-actions {
    display:flex;
    gap: 0.5rem;
    justify-content: flex-end;

    button {
      font-size: 0.8rem;
      padding: 0.4rem 0.8rem;
    }
  }

  &.completed {
    background-color: #e6ffe6;
    border-color: var(--success-color);

    h3 {
      text-decoration: line-through;
      color: var(--success-color);
    }
  }
}